#Java
*.class

#Android Studio
.idea/
*.iml
.gradle/
build/
build/
app/build/
bin/
gen/
obj/
proguard-rules.pro
local.properties
*.log
*.tmp
*.bak
*.swp
.DS_Store
.classpath
.project
*.apk
*.jar
*.class
.externalNativeBuild/
ndk-build/
ndk-module/
cmake-build/
tags
TAGS
